@font-face {
  font-family: 'CicleSemi';
  src: local('CicleSemi'), url(./fonts/Cicle_Semi.woff) format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'CicleSemi', sans-serif;
  letter-spacing: 3px;
}

button {
  font-family: 'CicleSemi', sans-serif;
  letter-spacing: 2px;
}
